div {
    background-color: white;
  }
  
  #right {
    position: absolute;
    width: calc(100% - 330px);
    height: 100vh;
    right: 0;
    padding: 20px;
    background-color: rgba(216, 216, 216, 0.2);
  }
  
  p{
      font-weight: 700;
    font-size: 24px;
  }
  
  .right_div {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 20px;
    padding: 20px;
  }
  
  #flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .Address {
    width: 28%;
  }
  
  #button {
    margin: 20px;
  }
  
  #employeeId {
    width: 65%;
  }
  