.leftcontainer {
  margin: 30px;
  width: 50%;
  background-color: #e6f7fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftcontainer img {
  width: 500px;
  height: 450px;
  border-radius: 50%;
  /* width: 500px; */
  /* scale: 0.7; */
}
